@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  height: 6.25rem;
  padding-left: 0.625rem;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  background-color: #ff0000;
  box-shadow: 0.0625rem 0.0625rem 0.3125rem;
  position: sticky;
  top: 0;
  z-index: 9999;
}
.logo {
  width: 5.5rem;
  border-radius: 50%;
  box-shadow: 1px 0.0625rem 0.3125rem;
}

.nav-items > ul {
  display: flex;
}

.nav-items > ul > li {
  padding: 0.625rem;
  margin: 0.625rem;
  list-style-type: none;
}

.login-button {
  width: 5rem;
  height: 2rem;
  background-color: #0000ff;
  color: white;
  border: none;
  border-radius: .3rem;
  margin: auto 1rem;
  cursor: pointer;
}



/* FIXME: search bar and button styling */

.filter{
  display:flex;
}

.search-box{
  padding: 0.625rem 1rem;
  border-radius: 0.3125rem;
  
}

.search-button{
  margin-left: 10px;
  padding: 0.625rem 1rem;
  border-radius: 0.3125rem;
}
.search {
  padding: 0.625rem 1rem;
  border-radius: 0.3125rem;

}

.filter_btn {
  margin: 1rem;
  padding: 0.625rem 1rem;
  border-radius: 0.3125rem;
  border: none;
  outline: none;
  background-color: #d89393;
  color: #ffffff;
  cursor: pointer;
}

/* // FIXME: CARD STYLING */

.restaurant-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 3rem;
  justify-content: center;
}

.restaurant-card {
  width: 20rem;
  height: 20rem;
  padding: 1rem;
  border-radius: 0.3125rem;
  box-shadow: 0.125rem 0.125rem 0.5rem #00000033;
  transition: transform 0.16ms ease-in-out;
  transition: background-color 0.16ms ease-in-out;
}

.restaurant-card:hover {
  transform: scale(1.01);
}

.restaurant-info > p {
  white-space: nowrap;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.restaurant-info > h3 {
  white-space: nowrap;
  width: 18.5rem;
  overflow: hidden;

  text-overflow: ellipsis;
}

.restaurant-image {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 0.3125rem;
  transition: transform 1s linear;
}
.restaurant-image:hover {
  transform: rotate(1deg);
}

.rating {
  display: flex;
  align-items: center;
}

.star {
  color: green;
  font-size: 0.75rem;
  margin-right: 0.625rem;
}

.dot {
  font-size: 4px;
  margin: 0 0.5rem;
}
/* FIXME: shimmer card */
.shimmer-container {
  display: grid;
  grid-template-columns: auto auto auto;

  justify-content: center;
}
.loader {
  width: 20rem;
  height: 15.4375rem;
  display: block;
  margin: 1rem;
  position: relative;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 1px 1px 2px #474646;
}
.loader::after {
  content: "";
  width: calc(100% - 30px);
  height: calc(100% - 15px);
  top: 15px;
  left: 15px;
  position: absolute;
  background-image: linear-gradient(
      90deg,
      transparent,
      rgba(255, 255, 255, 0.5) 50%,
      transparent 100%
    ),
    linear-gradient(#ddd 100px, transparent 0),
    linear-gradient(#ddd 16px, transparent 0),
    linear-gradient(#ddd 50px, transparent 0);
  background-repeat: no-repeat;
  background-size: 75px 175px, 100% 100px, 100% 16px, 100% 30px;
  background-position: -185px 0, center 0, center 115px, center 142px;
  box-sizing: border-box;
  animation: anim-loader 1s linear infinite;
}

@keyframes anim-loader {
  to {
    background-position: 185px 0, center 0, center 115px, center 142px;
  }
}
